<% provide(:title, 'mail') %>
<div id="mail-wrap">
  <div id="button-row">
    <div class="sidebar">
      <a href="#" id="show-compose" class="btn btn-primary">Compose</a>
      <script>
        $(function() {
          $('a#show-compose').click(function(event){
            event.preventDefault();
            $('div#compose-box').toggle();
          });
        });
      </script>
    </div>

    <div class="content">
      <div class="left">
        <a href="#" class="btn"><i class="icon-ok"></i></a>
        <a href="#" class="btn"><i class="icon-refresh"></i></a>
        <a href="#" class="btn"><i class="icon-trash"></i></a>
      </div>

      <div class="right">
        0-0 of 0
        <div class="btn-group">
          <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
          <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
        </div>
      </div>
    </div>


  </div>

  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs sidebar">
      <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
      <li><a href="#starred" data-toggle="tab">Starred</a></li>
      <li><a href="#sent" data-toggle="tab">Sent</a></li>
      <li><a href="#drafts" data-toggle="tab">Drafts(<%= @user.emails.count %>)</a></li>
    </ul> 

    <div class="tab-content content">
      <div id="inbox" class="tab-pane active">
        <div class="accordion" id="accordion1">
          <% if false %> <!--replace with: @in_mails.any?-->
            <ul class="message-list">
              <%= render partial: 'emails/in_mail', collection: @in_mails %>
            </ul>
          <% else %>
            <div class="center">Nothing here</div>
          <% end %>
        </div>
      </div>

      <div id="starred" class="tab-pane">
        <div class="accordion" id="accordion2">
          <% if false %>
            <ul class="message-list">
              
            </ul>
          <% else %>
            <div class="center">Nothing here</div>
          <% end %>
        </div>
      </div>

      <div id="sent" class="tab-pane">
        <div class="accordion" id="accordion3">
          <% if false %>
            <ul class="message-list">
              
            </ul>
          <% else %>
            <div class="center">Nothing here</div>
          <% end %>
        </div> 
      </div>

      <div id="drafts" class="tab-pane">
        <div class="accordion" id="accordion4">
          <% if @user.emails.any? %>
            <ul class="message-list">
              <%= render @drafts %>
            </ul>
          <% else %>
            <div class="center">Nothing here</div>
          <% end %>
        </div>
      </div>

    </div>

  </div>

  <div class="bottom-clear"></div>
  <div id="compose-box" class="hidden">
    <div id="compose-top">
      New Message
    </div>
    <%= render 'users/compose_form' %>
  </div>
</div>

