<% provide(:title, 'mail') %>
<div id="mail-wrap">
  <div id="button-row">
    <div class="sidebar">
      <%= link_to "Compose", '#', class: "btn btn-primary" %>
    </div>

    <div class="content">
      <div class="left">
        <a href="#" class="btn"><i class="icon-ok"></i></a>
        <a href="#" class="btn"><i class="icon-refresh"></i></a>
        <a href="#" class="btn"><i class="icon-trash"></i></a>
      </div>

      <div class="right">
        0-0 of 0
        <div class="btn-group">
          <a href="#" class="btn"><i class="icon-chevron-left"></i></a>
          <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
        </div>
      </div>
    </div>


  </div>



  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs sidebar">
      <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
      <li><a href="#starred" data-toggle="tab">Starred</a></li>
      <li><a href="#sent" data-toggle="tab">Sent</a></li>
      <li><a href="#drafts" data-toggle="tab">Drafts(<%= @user.emails.count %>)</a></li>
    </ul> 

    <div class="tab-content content">
      <div class="tab-pane active" id="inbox">hello inbox</div>
      <div id="starred" class="tab-pane">hello starred</div>
      <div id="sent" class="tab-pane">hello sent</div>
      <div id="drafts" class="tab-pane">
        <% if @user.emails.any? %>
          <ul class="message-list drafts">
            <%= render @drafts %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="bottom-clear"></div>
  <div class="compose-box">
    <div class="compose-top">
      New Message
    </div>
    <%= render 'users/compose_form' %>
  </div>
</div>

