// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* variables */
$sideWidth: 180px;
$globalMargin: 50px;

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
}

.bottom-clear {
  clear: both;
}

.sidebar {
  float: left;
  width: $sideWidth;
}

.sidebar div, .sidebar ul li {
  margin-bottom: 12px;
}

.content {
  margin: 0 0 0 $sideWidth;
}

#button-row {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
}

a.read-link div, a.read-link div div {
  overflow: hidden;
}

.address {
  display: inline-block;
  width: 20%;
}

.subject {
  display: inline-block;
  width: 79%;
}

.date {
  float: right;
}

#compose-box {
  width: 500px;
  background-color: white;
  border-style: solid solid none solid;
  border-width: 1px;
  position: fixed;
  bottom: 0%;
  right: $globalMargin;
}

#compose-top {
  width: 100%;
  height: 23px;
  background-color: black;
  color: white;
}

div.hidden { display: none; }

