<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse4">
      <%= email.subject %>
    </a>
  </div>
  <div id="collapse4" class="accordion-body collapse in">
    <div class="accordion-inner">
      <%= email.subject %>
    </div>
  </div>
</div>
