<li class="mail-li">
  <a data-toggle="modal" href="#readModal">
    <div class="address">
      <%= inmail.from %>
    </div>
    <div class="subject">
      <%= inmail.subject %>
      <div class="date">
        <%= inmail.date %>
      </div>
    </div>
  </a>
</li>


