<li class="mail-li">
  <a data-toggle="modal" href="#readModal">
    <div class="address">
      <%= outmail.to %>
    </div>

    <div class="subject">
      <%= outmail.subject %>
      <div class="date">
        <%= outmail.updated_at %>
      </div>
    </div>
  </a>
</li>
