<li class="mail-li">
  <div class="address">
    <%= outmail.to %>
  </div>

  <div class="subject">
    <%= outmail.subject %>
    <div class="date">
      <%= outmail.updated_at %>
    </div>
  </div>
</li>
