<div class="readmail-header">
  <div>
    From: <%= read_mail.from %>
  </div>
  <div>
    To: <%= read_mail.to %>
  </div>
  <div>
    Subject: <%= read_mail.subject %>
  </div>
</div>
<div class="readmail-body">
  <%= read_mail.body %>
</div>
