<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div id="logo">
      SNEL
    </div>
    <nav>
      <ul class="nav pull-right">
        <li><%= header_btn(yield(:title)) %></li>
      </ul>
    </nav>
  </div>
</header>

