<header id="global-header" class="navbar navbar-fixed-top navbar-inverse">
  <div id="header-inner" class="navbar-inner">
    <div id="logo">
      MAILr4
    </div>
    <nav>
      <ul class="right">
        <li><%= header_btn(yield(:title)) %></li>
      </ul>
    </nav>
  </div>
</header>

