<header id="global-header" class="navbar navbar-fixed-top navbar-inverse">
  <div id="header-inner" class="navbar-inner">
    <%= link_to "MAILr4", "https://github.com/daniel-bryant/mailr4", target: "_blank", id: "logo" %>
    <nav>
      <ul class="right">
        <li><%= header_btn(yield(:title)) %></li>
      </ul>
    </nav>
  </div>
</header>

