<div id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <%= current_user.name %>@<%= CONFIG['domain'] %><b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Edit", edit_user_path(current_user) %></li>
    <li class="divider"></li>
    <li>
      <%= link_to "Sign out", signout_path, method: "delete" %>
    </li>
  </ul>
</div>
